.headerTitle {
    margin: 10px 0;
    padding: 20px 0;
    border-bottom: 1px solid gray;
    font-size: 4em;
}

.FlightTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin: 10px 0;
    background: #999999;
    padding: 0 10px;
    color: white;
}